body {
	background-color: #aaa;
}

.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

.page-header {
	margin-top: 70px;
}

#big-ass-container {
	background-color: rgb(50,150,120);
	background: linear-gradient(rgb(50,150,120),rgb(209, 125, 42));
	height: 2000px;
	padding: 0px 5%;
}

.navbar {
	background-color: rgb(198, 40, 62);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: rgba(255,255,255,.8);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,.3);
}

.navbar-default .navbar-brand{
    color: rgba(255,255,255,.8);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:visited {
    color: rgba(255,255,255,1);
}

.navbar-default .navbar-nav > li > a{
    color: rgba(255,255,255,.8);
}

.navbar-default .navbar-nav > li > a:hover{
    color: rgba(255,255,255,1);
}

.floater {
	position: fixed;
	display: block;
	height: 50px;
	width: 50px;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	background-color: none;
}

.floater span {
	color: white;
	line-height: 50px;
	text-align: center;
	font-size: 50px;
}